@import "../../../../assets/scss/variables";

.invalid-feedback {
  display: block;
}

.password-field {
  .fa {
    color: $black;
  }

  .password-strength {
    width: 5rem;
    color: $white;
    border: none;
    margin: 1px 1px 1px;
    justify-content: center;

    &.default {
      color: #7b8a8b;
    }

    &.weak {
      background-color: #8b0000;
    }

    &.medium {
      background-color: #ffa500;
    }

    &.good {
      background-color: #4169e1;
    }

    &.strong {
      background-color: #006400;
    }
  }
}
