// Copyright (C) 2018 Bernardo Balvanera
//
// This file is part of ProtegoPdf.
//
// ProtegoPdf is a free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <http://www.gnu.org/licenses/>.

.card.fixed-height
  h6.card-header.bg-primary.text-light.pl-2
    a.text-light.mr-3(routerLink="/")
      i.fas.fa-arrow-left
    ng-container(i18n="section title") Generate a password
  .card-body.border.border-top-0.border-right-0.border-left-0
    .container.p-0
      .row
        .col-9.pr-0
          input.password-input.form-control.form-control-sm(type="text", [formControl]="password", readonly)
        .col-3
          .btn-group.d-flex
            button.btn.btn-primary.btn-block.btn-sm(type="button" routerLink="/", [queryParams]="{ pwd: password.value }", i18n="Use password button") Use
            .btn-group(ngbDropdown, placement="bottom-right", role="group", aria-label="Options dropdown", i18n-aria-label)
              button.btn.btn-primary.btn-sm.dropdown-toggle-split(ngbDropdownToggle, title="Options", i18n-title)
              .dropdown-menu(ngbDropdownMenu)
                button.btn-sm.dropdown-item((click)="generatePassword()", i18n="action|Conveys that a new password will be generated") Generate again

  .card-body.fixed-height
    p.font-weight-bold(i18n="@@pwdOptions") Password Options
    app-password-options([formControl]="passwordOptions")
  .card-footer
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fas.fa-cog
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fas.fa-question-circle
