.card
  h6.card-header.bg-primary.text-light.pl-2
    a.text-light.mr-3(routerLink="/")
      i.fa.fa-arrow-left
    | Generate a password
  .card-body.border.border-top-0.border-right-0.border-left-0
    .container.p-0
      .row
        .col-9.pr-0
          input.form-control.form-control-sm(type="text", placeholder="I'm here")
        .col-3
          button.btn.btn-primary.btn-sm.btn-block(type="button") Use
  .card-body
    p Password Options
    app-password-options([formControl]="passwordOptions")
