@import "../../../assets/scss/variables";

.dropdown-menu {
  padding: 0.2rem 0;
  min-width: 7rem;
}

.password-input {
  font-family: $font-family-monospace;

  &[readonly] {
    background-color: inherit;
  }
}
