.card
  h6.card-header.bg-primary.text-light.pl-2
    a.text-light.mr-3(routerLink="/")
      i.fa.fa-arrow-left
    | Generate a password
  .card-body.border.border-top-0.border-right-0.border-left-0
    .container.p-0
      .row
        .col-9.pr-0
          input.password-input.form-control.form-control-sm(type="text", [formControl]="password", readonly)
        .col-3
          .btn-group.d-flex
            button.btn.btn-primary.btn-block.btn-sm(type="button" routerLink="/", [queryParams]="{ pwd: password.value }") Use
            .btn-group(ngbDropdown, placement="bottom-right", role="group", aria-label="Dropdown to generate a new password")
              button.btn.btn-primary.btn-sm.dropdown-toggle-split(ngbDropdownToggle)
              .dropdown-menu(ngbDropdownMenu)
                button.btn-sm.dropdown-item((click)="generatePassword()") Generate again

  .card-body.fixed-height
    p.font-weight-bold Password Options
    app-password-options([formControl]="passwordOptions")
  .card-footer
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-cog(aria-hidden="true")
    button.btn.btn-sm.btn-outline-secondary(type="button")
      i.fa.fa-question-circle(aria-hidden="true")
