@import "../../../assets/scss/variables";

.btn-tall {
  height: 66px;
}

.bg-color-normal {
  background-color: inherit;
}

$drop-zone-color: $gray-300;
$drop-zone-bgcolor: rgba($primary, 0.9);

%fill {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.drop-zone {
  @extend %fill;
  background-color: $drop-zone-bgcolor;
  padding: 0.7rem;

  .drop-zone-layer {
    @extend %fill;
    position: relative;
    text-align: center;
    border: 0.2rem dashed $drop-zone-color;
    padding-top: 25%;

    h1, p {
      color: $drop-zone-color;
    }
  }

  .drop-zone-overlay {
    @extend %fill;
  }
}

.invalid-feedback {
  display: block;
}

.password-field {
  border-radius: 0.2rem;
  border: 1px solid $gray-400;

  * {
    border: none;
  }

  &.focus {
    border-color: $blue;
  }

  &.is-invalid {
    border-color: $danger !important;
  }

  .fa {
    color: $black;
  }

  .password-strength {
    width: 5rem;
    color: $white;
    border: none;

    &.default {
      color: #7b8a8b;
      border-left: 1px solid $gray-400;
    }

    &.weak {
      background-color: #8b0000;
    }

    &.medium {
      background-color: #ffa500;
    }

    &.good {
      background-color: #4169e1;
    }

    &.strong {
      background-color: #006400;
    }
  }
}

.password-input {
  font-family: $font-family-monospace;

  &::placeholder {
    font-family: $font-family-sans-serif;
  }

  &[disabled]::placeholder {
    color: $gray-200;
  }
}
