.btn-group.btn-group-toggle.btn-group-sm(ngbRadioGroup, [(ngModel)]="value")
  label.btn-primary(ngbButtonLabel)
    input(type="radio", ngbButton, [value]="false")
    | No
  label.btn-primary(ngbButtonLabel)
    input(type="radio", ngbButton, [value]="true")
    | Yes
.d-inline-flex.ml-3 {{label}}
