.container.p-0
  .row
    .col-6
      app-password-option([label]="'Use lower-case'", [value]="options.lowerCase", (valueChange)="optionChanged('lowerCase', $event)")
    .col-6
      app-password-option([label]="'Use upper-case'", [value]="options.upperCase", (valueChange)="optionChanged('upperCase', $event)")
  .row
    .col-6
      app-password-option([label]="'Use numbers'", [value]="options.numbers", (valueChange)="optionChanged('numbers', $event)")
    .col-6
      app-password-option([label]="'Use special characters'", [value]="options.specialChars", (valueChange)="optionChanged('specialChars', $event)")
