.container.p-0
  .row
    .col-6
      app-password-option([(option)]="options.lowerCase", [label]="'Use lower-case'")
    .col-6
      app-password-option([(option)]="options.upperCase", [label]="'Use upper-case'")
  .row
    .col-6
      app-password-option([(option)]="options.numbers", [label]="'Use numbers'")
    .col-6
      app-password-option([(option)]="options.specialChars", [label]="'Use special characters'")
