// overrides for default bootstrap style
body {
  font-size: 0.875rem;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: $blue
}

.btn {
  &:focus, .focus, &.active.focus {
    box-shadow: none;
  }
}

.btn-primary:focus {
  border-color: darken($blue, 50%);
}

.btn-outline-secondary:focus {
  border-color: darken($gray-500, 20%);
}

[class*="btn-"]:not(:disabled):not(.disabled):active:focus,
[class*="btn-"]:not(:disabled):not(.disabled).active:focus,
.show > [class*="btn-"].dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-menu {
  padding: 0.2rem 0;
  min-width: 7rem;
}

.dropdown-item {
  &:hover, &:focus {
    color: $white;
    background-color: $primary;
  }
}

// overrides ngx-toastr style
.toast-container {
  .toast {
    min-width: 300px;
    width: initial;
  }
}
