@import "../../../../assets/scss/variables";

.invalid-feedback {
  display: block;
}

.password-field {
  border-radius: 0.2rem;
  border: 1px solid $gray-400;

  * {
    border: none;
  }

  &.focus {
    border-color: $blue;
  }

  &.is-invalid {
    border-color: $danger !important;
  }

  .fa {
    color: $black;
  }

  .password-strength {
    width: 5rem;
    color: $white;
    border: none;
    margin: 1px 1px 1px;

    &.default {
      color: #7b8a8b;
    }

    &.weak {
      background-color: #8b0000;
    }

    &.medium {
      background-color: #ffa500;
    }

    &.good {
      background-color: #4169e1;
    }

    &.strong {
      background-color: #006400;
    }
  }
}

.password-input {
  font-family: $font-family-monospace;

  &::placeholder {
    font-family: $font-family-sans-serif;
  }

  &[disabled]::placeholder {
    color: $gray-200;
  }
}
