@import '../../../assets/scss/variables';

.favorite {
  border: 1px solid $gray-400;
  color: $yellow;
}

.favorites-table-body {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.3125rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray-400;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-500;
  }
}

.favorite-column {
  text-align: center;
  color: $yellow;

  div {
    cursor: pointer;
  }
}

.delete-column {
  div {
    cursor: pointer;
  }
}
