@import '../../../../assets/scss/variables';

#password-field {
  border-radius: 0.2rem;
  border: 1px solid $gray-400;

  * {
    border: none;
  }

  &.focus {
    border-color: $blue;
  }

  &.is-invalid {
    border-color: $danger !important;
  }
}

.password-input {
  font-family: $font-family-monospace;

  &::placeholder {
    font-family: $font-family-sans-serif;
  }

  &[disabled]::placeholder {
    color: $gray-200;
  }
}

.form-control, .input-group {
  &.is-invalid + .invalid-feedback {
    display: block;
  }
}

.fa {
  color: $black;
}

.password-strength {
  width: 5rem;
  color: $white;
  border: none;

  &.default {
    color: #7b8a8b;
    border: 1px solid $gray-400;

    &::after {
      content: "Strength";
    }
  }

  &.weak {
    background-color: #8b0000;

    &::after {
      content: "Weak";
    }
  }

  &.medium {
    background-color: #ffa500;

    &::after {
      content: "Medium";
    }
  }

  &.good {
    background-color: #4169e1;

    &::after {
      content: "Good";
    }
  }

  &.strong {
    background-color: #006400;

    &::after {
      content: "Strong";
    }
  }
}
