// Copyright (C) 2018 Bernardo Balvanera
//
// This file is part of ProtegoPdf.
//
// ProtegoPdf is a free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <http://www.gnu.org/licenses/>.

.d-inline-block(ngbDropdown, role="group", aria-label="Password options dropdown", i18n-aria-label)
  button.btn.btn-sm.btn-link.px-1.text-primary(type="button", ngbDropdownToggle, i18n="pwd options button@@pwdOptions") Password options
  .dropdown-menu(ngbDropdownMenu)
    h6.dropdown-header(i18n="label") Favorite passwords
    ng-container(*ngFor="let fav of favoritePasswords")
        button.btn-sm.dropdown-item(type="button", (click)="selectPassword(fav.name)") {{fav.name | ellipsis}}
    .dropdown-divider
    button.btn-sm.dropdown-item(type="button", routerLink="/password-gen", i18n="action") Generate a password
    button.btn-sm.dropdown-item(type="button", (click)="savePasswordRequested()", i18n="action") Save typed password
    button.btn-sm.dropdown-item(type="button", routerLink="/password-man", i18n="action") Password manager
