.d-inline-block(ngbDropdown, role="group", aria-label="Password options dropdown")
  button.btn.btn-sm.btn-link.px-1.text-primary(type="button", ngbDropdownToggle) Password options
  .dropdown-menu(ngbDropdownMenu)
    h6.dropdown-header Favorite passwords
    ng-container(*ngFor="let fav of favoritePasswords")
        button.btn-sm.dropdown-item(type="button", (click)="selectPassword(fav.name)") {{fav.name | ellipsis}}
    .dropdown-divider
    button.btn-sm.dropdown-item(type="button", routerLink="/password-gen") Generate a password
    button.btn-sm.dropdown-item(type="button", (click)="savePasswordRequested()") Save typed password
    button.btn-sm.dropdown-item(type="button", routerLink="/password-man") Password manager
